<!DOCTYPE html>
<html lang="es">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">

</head>
<body class="cover" style="background-image: url({{url_for('static',filename='assets/img/loginFont.jpg')}});">


	<form action="{{ url_for('registro') }}" method="post" autocomplete="off" class="full-box logInForm">

		<p class="text-center text-muted text-uppercase">Registrarse</p>
		<div class="form-group label-floating">

		  <label class="control-label" for="">Usuario</label>
		  <input class="form-control" name="Usuario" type="text">
			<p class="help-block">Escribe tú Usuario</p> <!--  Usuarioooooooooooooooooooooooooooooooooooo-->
		</div>
		<div class="form-group label-floating">
			<label class="control-label" for="">Nombre</label>
		 <input class="form-control" name="Nombre" type="text">
		 <p class="help-block">Ingresa tu nombre</p> <!--  nombreeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee-->
		</div>
		<div class="form-group label-floating">
			<label class="control-label" for="">Apellido Paterno</label>
		 <input class="form-control" name="Apellidop" type="text">
		 <p class="help-block">Ingrese su Apellido Paterno</p> <!--  nombreeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee-->
		</div>
		<div class="form-group label-floating">
			<label class="control-label" for="">Apellido Materno</label>
		 <input class="form-control" name="Apellidom" type="text">
		 <p class="help-block">Ingrese su Apellido materno</p> <!--  nombreeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee-->
		</div>
		<div class="form-group label-floating">
		  <label class="control-label" for="UserPass">Contraseña</label>
		  <input class="form-control" name="contra" type="password">
		  <p class="help-block">Escribe tú contraseña</p> <!--  dsugkjdhhdhdhdhdhdhvdshdgsjkdsgdhhgdghdhhddhhh-->
		</div>
		<div class="form-group label-floating">
			<label class="control-label" for="">Correo</label>
		 <input class="form-control" name="correo" type="email">
		 <p class="help-block">Ingrese su Correo</p> <!--  nombreeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee-->
		</div>
		<div class="form-group text-center">
			<input type="submit" value="Registarse" class="btn btn-raised btn-info">

		</div>

	</form>
	{% if error %}
	<div  class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
			 <div class="toast" style="position: absolute; top: 50; right: 50;"></div>
			 <div class="toast-header">
					 <svg class="bd-placeholder-img rounded mr-2" width="50" height="50" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="true" role="img"><rect width="100%" height="100%" fill="#ff0000"></rect></svg>
					 <strong class="mr-auto"><h1>Error!</h1></strong>
					 <small> Ahora</small>
					 <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
						 <span aria-hidden="true">×</span>
					 </button>
			 </div>
			 <div class="toast-body">
					 Favor de ingresar todos sus datos correctamente!
			 </div>
		 </div>
	{% endif %}
	{% if duplicado %}
	<div  class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
			 <div class="toast" style="position: absolute; top: 50; right: 50;"></div>
			 <div class="toast-header">
					 <svg class="bd-placeholder-img rounded mr-2" width="50" height="50" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="true" role="img"><rect width="100%" height="100%" fill="#ff0000"></rect></svg>
					 <strong class="mr-auto"><h1>Error!</h1></strong>
					 <small> Ahora</small>
					 <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
						 <span aria-hidden="true">×</span>
					 </button>
			 </div>
			 <div class="toast-body">
					 El nombre de usuario ya existe porfavor seleccione otro
			 </div>
		 </div>
	{% endif %}


	<!--====== Scripts -->
	<script src="{{url_for('static', filename='js/jquery-3.1.1.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/material.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/ripples.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/sweetalert2.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/main.js')}}"></script>
	<script>
		$.material.init();
	</script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<script>
		 $(document).ready(function(){
				$('.toast').toast('show');
		 });
	 </script>
</body>
</html>
